.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  z-index: 100;
  justify-content: space-between;
}

.header_logo {
  margin-right: 20px;
}
.header_search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-radius: 20px;
}

.header_links {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 800;
  margin-right: 20px;
}
.header_links > div {
  margin-right: 20px;
}
.sign > div {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;

  margin-top: 0px;
}
