.product_info > p {
  margin-bottom: 8px;
}
.product_price {
  font-weight: bold;
}
.name {
  font-size: 2rem;
}
.product_screen {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product > img {
  height: 170px;
}
.product {
  margin: 8px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: outset;
}
